<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" routerLink="/mobile-phone" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>{{ ad?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading; else loadingTemplate">
  <ion-card *ngIf="ad">
    <!-- Image Carousel with Left and Right Arrows -->
    <ion-row class="image-carousel">
      <ion-col size="1" class="arrow-container">
        <ion-icon
          name="arrow-back-circle"
          (click)="previousImage()"
          *ngIf="currentImageIndex > 0"
        ></ion-icon>
      </ion-col>

      <ion-col size="10" class="image-display">
        <img [src]="ad.pictures[currentImageIndex]" class="displayed-image" alt="Ad Image" />
      </ion-col>

      <ion-col size="1" class="arrow-container">
        <ion-icon
          name="arrow-forward-circle"
          (click)="nextImage()"
          *ngIf="ad && currentImageIndex < ad.pictures.length - 1"
        ></ion-icon>
      </ion-col>
    </ion-row>

    <!-- Display Ad Details -->
    <ion-card-content>
      <h2>AED {{ ad.price }}</h2>
      <h3>{{ ad.brand }} {{ ad.title }}</h3>
      <p><strong>Model:</strong> {{ ad.model }}</p>
      <p><strong>Storage Capacity:</strong> {{ ad.storagecapacity }}</p>
      <ion-button expand="full" color="success">Make Offer</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ng-template #loadingTemplate>
  <ion-spinner name="dots" color="primary" style="display: flex; justify-content: center; margin-top: 20px;"></ion-spinner>
</ng-template>
