<ion-header>


  <ion-toolbar>
    <ion-button fill="clear" routerLink="/mobile-phone" slot="start">
      <ion-icon name="arrow-back" fill="clear" ></ion-icon>
    </ion-button>
    <ion-title>{{ad.brand}} {{ ad?.addTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="ad">
    <!-- <ion-card-header>
      <ion-card-title>{{ ad.addTitle }}</ion-card-title>
      <ion-card-subtitle>{{ ad.brand }} - {{ ad.price }}</ion-card-subtitle>
    </ion-card-header> -->
    <ion-card-content>
      <img *ngIf="ad.pictures" [src]="ad.pictures" alt="{{ ad.addTitle }}" />
      <span style="color: red; display: flex; justify-content: center;"><strong >AED </strong>{{ad.price}}</span>
      <strong style="display: flex; justify-content: center;">
      {{ad.brand}} {{ad.addTitle}}
      </strong>

      <div class="ion-padding">
       <Strong>Details</Strong>
       <p><Strong>Acconpaniments</Strong>   {{ad.accompaniments}}</p>
       <p><strong>Condition:</strong>        {{ ad.condition }}</p>
       <p><strong>Damages on Device:</strong>     {{ ad.damagesondevices }}</p>
       <p><strong>Version:</strong>    {{ ad.version }}</p>
       <p><strong>Storage Capacity:</strong>    {{ ad.storagecapacity }}</p>
       <p><strong>Posted On:</strong>      {{ ad.postedon}}</p>

       <span style="display: flex; justify-content: center; color: red;">Show more details</span>

      </div>

      <ion-button fill="clear" class="box-border" style=" display: flex;border: 2px solid red;
      width: 100%;
      justify-content: center;
      color: red; border-radius: 5px;">Make an Offer</ion-button>



<div class="ion-padding">
  <Strong>Description</Strong> <br>
  <p>{{ad.brand}} {{ad.addTitle}} {{ad.storagecapacity}}</p>
  <p>Color: {{ad.color}}</p>
  <p>Country: {{ad.country}}</p>
  <p>Warranty: {{ad.warranty}}</p>
  <span style="display: flex; justify-content: center; color: red;">Show more description</span>
</div>

<div class="ion-padding">
<strong>Location</strong><br>
<span><ion-icon name="location-outline"> </ion-icon> {{ad.location}}</span>
</div>

<ion-row>
  <ion-col size="auto">
    <ion-icon name="person-circle-outline" style="font-size: 50px;" class="ion-padding"></ion-icon>
  </ion-col>
  <ion-col>
    <p>
      <span>Seller<br><b>{{ ad.seller }}</b><br></span>
      <img src="../../assets/Group 69.png" alt="verified user">
    </p>
  </ion-col>
  <ion-col >
    2 items live <br>
    <span class="see-more">See more</span>
  </ion-col>
</ion-row>


    </ion-card-content>
</ion-content>

