<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tablets and Mobile phones</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="search" style="float: right;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content >
<!-- <ion-card> -->
<ion-item>
  <ion-input type="text" label="All in Mobile Phones & Tablets" labelPlacement="floating" ></ion-input>
  <ion-icon name="checkmark-done" style="color: red;"></ion-icon>
</ion-item>
<ion-item>
    <ion-input label="Mobile Phones" labelPlacement="floating" ></ion-input>
</ion-item>
<ion-item>
  <ion-input label="Mobile Phones & Tablets Accessories" labelPlacement="floating" ></ion-input>

</ion-item>
<ion-item>
  <ion-input label="Tablets" labelPlacement="floating" ></ion-input>
</ion-item>

<ion-item>
  <ion-input label="Other Mobile Phones & Tablets" labelPlacement="floating" ></ion-input>
</ion-item>

<!-- </ion-card> -->
</ion-content>

