<ion-header>
  <ion-button fill="clear" slot="start" routerLink="/home">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>

    <ion-title>Tablets & Mobile Phones</ion-title>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input position="floating" label="All in Mobile Phones & Tablets"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input position="floating" label="Mobile Phones"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input position="floating" label="Mobile Phones & Tablets Accessories"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input position ="floating" label="Tablets"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input position="floating" label="Other Mobile phones & Tablets"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>


