<ion-header>
  <ion-toolbar> 
    <ion-button slot="start" class="bgnone" fill="clear"  routerLink="/mobile-phone">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">Mobile Details
     
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Main Product Card -->
  <ion-card class="ion-text-center pose">
    
    <img src="../../assets/iphone13pro.jpg" alt="iphone13pro" class="imgsize">
  </ion-card>

  <!-- Price and Product Name -->
  <ion-card class="ion-padding ion-text-center">
    <span class="price">AED 2,300</span><br>
    <span>Apple iPhone 13 Pro Max</span>
  </ion-card>

  <!-- Product Details Section -->
  <ion-card class="ion-padding">
    <b>Details</b>
    <ion-grid>
      <ion-row>
        <ion-col><b>Accompaniments</b></ion-col>
        <ion-col>Box</ion-col>
      </ion-row><hr>
      <ion-row>
        <ion-col><b>Condition</b></ion-col>
        <ion-col>Pre Owned</ion-col>
      </ion-row><hr>
      <ion-row>
        <ion-col><b>Damages on Device</b></ion-col>
        <ion-col>No</ion-col>
      </ion-row><hr>
      <ion-row>
        <ion-col><b>Version</b></ion-col>
        <ion-col>US</ion-col>
      </ion-row><hr>
      <ion-row>
        <ion-col><b>Storage Capacity</b></ion-col>
        <ion-col>128GB</ion-col>
      </ion-row><hr>
      <ion-row>
        <ion-col><b>Posted On</b></ion-col>
        <ion-col>October 11, 2024</ion-col>
      </ion-row>
    </ion-grid>

    <h6 class="ion-text-center more-details">Show more details</h6>
  </ion-card>

  <!-- Offer Section -->
  <ion-card class="text-red">
    <ion-button fill="clear" class="text-btn">Make an Offer</ion-button>
  </ion-card>

  <!-- Product Description -->
  <ion-card>
    <ion-card-header><b>Description</b></ion-card-header>
    <ion-card-content>
      iPhone 13 Pro Max 128GB<br>
      Color: White<br>
      Country: USA - Facetime installed<br>
      Warranty: No
    </ion-card-content>
    <h6 class="ion-text-center more-details" >Show full description</h6>
  </ion-card>

  <!-- Location Section -->
  <ion-card class="ion-padding">
    <h4><b>Location</b></h4>
    <ion-icon name="location-sharp"></ion-icon>AI Reem Island, Abu Dhabi, UAE<br>
    <img src="../../assets/image.png" alt="location" class="imgsize">
  </ion-card>

  <!-- Seller Information -->
  <ion-card>
    <ion-row>
      <ion-col size="auto">
        <ion-icon name="person-circle-outline" style="font-size: 50px;" class="ion-padding"></ion-icon>
      </ion-col>
      <ion-col>
        <p>
          <span>Seller<br><b>Abdalrahman Alashaqar</b><br></span>
          <img src="../../assets/Group 69.png" alt="verified user">
        </p>
      </ion-col>
      <ion-col class="ion-padding">
        2 items live<br><br>
        <span class="see-more">See more</span>
      </ion-col>
    </ion-row>
  
    <ion-card class="text-red">
      <ion-button fill="clear" class="text-btn">Chat</ion-button>
    </ion-card>
  
  </ion-card>
</ion-content>
