.verified{
  color: green;
  font-size: x-small;
  display: inline-flex;
}


.image-display{
  width: 50%;
  margin: 20px;
}

.textsize
{
  font-size: 12px;
  color: rgb(98, 97, 97);
}

.offerchat{
  border: 1px solid red;
  background-color: lightcyan;
  border-radius: 5px;
  width: 30%;
  font-size: 40%;

}

.chatoffer{
  border: 1px solid red;
  background-color: lightcyan;
  border-radius: 5px;
  width: 30%;
  font-size: 40%;
  float: right;
}

.box-border{
  display: flex;
  border: 2px solid red;
  width: 100%;
  justify-content: center;
  color: red;
}
