<ion-header>
  <ion-toolbar>
    <ion-button slot="start" class="bgnone">
      <ion-back-button></ion-back-button>
    </ion-button>
    <ion-title class="ion-text-center">Mobile phones
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-icon name="bookmark-outline"></ion-icon><b>Save</b>
    </ion-col>
    <ion-col>
      <ion-icon name="options-outline"></ion-icon><b>Filter</b>
    </ion-col>
    <ion-col>
      <ion-icon name="funnel-outline"></ion-icon><b>Sort</b>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <!-- Product Cards -->
  <ion-card *ngFor="let product of products"  routerLink="/mobile-details">
    
    <ion-row class="btmborder" >
      <ion-col class="ion-text-center">
        <ion-icon name="heart-outline" class="ion-float-left"></ion-icon>
        <img [src]="product.image" alt="forward" class="ion-float-right"><br>
        
      </ion-col>
      <ion-col class="ion-border">
        <img src="../../assets/g star.svg" alt="Verified">
        <span class="verified">Verified User</span>
        <span class="ion-float-right verified">PREMIUM</span><br>
        <b>{{ product.name }}</b>
        <p style="font-size: 13px;">{{ product.description }} <br>
          <ion-icon name="location-outline"></ion-icon> {{ product.location }}
        </p>
        <b class="txtcol">{{ product.price | currency: 'INR' }}</b><br>
        <ion-button class="offerchat bgnone">
          <img src="../../assets/sale.svg" alt="sale"> Make Offer
        </ion-button>
        <ion-button class="chatoffer bgnone">
          <ion-icon name="chatbox-outline"></ion-icon> Chat
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-searchbar></ion-searchbar>
</ion-content>


